/*declaração de váriaveis no css, utiliza-se o root*/
:root { 
    --vermelho: #E50914; 
    --preta: #141414;
}

/* reset - remove as bordas inciais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos Base*/
body {
    background: var(--preta); /*aplicação da variavel para definir a cor de fundo da página */
    font-family: 'Times New Roman', Times, serif; /* Fontes da Pagina */
    color: white;
}

header .container{
    display: flex; /*alinha os elementos na tela*/
    flex-direction: row;
    align-items: center; /* alinha de maneira vertiical */
    justify-content: space-between; /*cria espaços entre as tags */

}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black', Times; /* A fonte entre '' é a principal, e após a virgula utiliza-se uma reserva, caso a primeira falhe */
    font-size: 40px;
}

header nav a { /*configura todas as <a> dentro da <nav> */
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover { /*:hover altera as informações das <a> quando colocar o mouse em cima */ 
    color: #fff;
}

/*Filme Principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('/img/wallpaper2-fringe.jpg');
    
    height: 400px;
    background-size: cover;

    display: flex; /*joga tudo em linha*/
    flex-direction: column; /*substitui para coluna*/
    justify-content: center;
    align-items: flex-start; /*começa da esquerda*/
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family:'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 15px 30px; /*lida com espaço interno do elemento (box)  - 1 valor pega os 4 lados, 2 valores pega inicialmente cima e baixo, e o segundo valor direita e esquerda*/
    margin-right: 15px;
    font-size: 12px;

    cursor:pointer;
    transition: 3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 7px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 60%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}
