/*declaração de váriaveis no css, utiliza-se o root*/
:root { 
    --vermelho: #E50914; 
    --preta: #141414;
}

/* reset - remove as bordas inciais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos Base*/
body {
    background: var(--preta); /*aplicação da variavel para definir a cor de fundo da página */
    font-family: 'Netflix Sans', Times, serif; /* Fontes da Pagina */
    color: white;
}

.img-logo{
    display: flex;
    margin-left: 10px;
    width: 100px;
    height: auto;
}

header .container{
    display: flex; /*alinha os elementos na tela*/
    flex-direction: row;
    align-items: center; /* alinha de maneira vertiical */
    justify-content: space-between; /*cria espaços entre as tags */
    
    position: fixed;
    top: 0;
    width: 100%;
}

header .navibar {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 30px;
}

header .navibarLateral {
    display: flex;
    align-items: center;
    padding-inline-end: 150px;
    flex-direction: row;
    margin-inline-start: auto;
}

.avatar {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 30px;
}

.mainAvatar {
    margin-right: 5px;
    margin-left: 1px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 30px;
    height: auto;
}

.navibarLateral > li {
    margin-left: 10px;
    list-style: none;
    position: relative;
    display: inline-block;
    font-size: 18px;
}

.navibarLateral > li > ul {
    border: 1px solid lightgray;
    background: rgb(0, 0, 0);  
    padding: 0; 
    margin: 0;
    position:absolute;
    left: 0;  
    display: none;
}

.navibarLateral > li > ul > li {
    white-space:nowrap;
    list-style: none;
    padding: 0;
    font-size: 16px;
}

.navibarLateral > li > ul > ul {  
    border: 1px solid lightgray;
    white-space: nowrap;
    list-style: none;
    font-size: 16px;  
}

.navibarLateral > li >  ul > ul > li > a{
    background: rgb(0, 0, 0);
    color: white;
    display: block;
    padding: 10px 20px;
    transition: all 0.2s; 
}

.navibarLateral > li > ul > li > a { 
    background: rgb(0, 0, 0);
    color: white;
    padding: 10px 20px;
    transition: all 0.2s;
    display: flex;
    align-items: center;
}

.navibarLateral > li > ul > ul > li > a:hover {
    background: #333;
    color: white;
}

.navibarLateral > li > ul > li > a:hover {
    background: #333;
    color: white; 
}

.navibarLateral > li:hover > ul {
    display: block;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black', Times; /* A fonte entre '' é a principal, e após a virgula utiliza-se uma reserva, caso a primeira falhe */
    font-size: 40px;
}

header nav a { /*configura todas as <a> dentro da <nav> */
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 10px;
}

header nav a:hover { /*:hover altera as informações das <a> quando colocar o mouse em cima */ 
    color: rgb(194, 194, 194);
}

/*Filme Principal*/
.filme-principal{
    font-size: 25px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url('../img/wallpaper2-fringe.jpg');
    
    height: 800px;
    background-size: cover;

    display: flex; /*joga tudo em linha*/
    flex-direction: column; /*substitui para coluna*/
    justify-content: center;
    align-items: flex-start; /*começa da esquerda*/
}

.filme-principal .descricao{
    margin-top: 40px;
    margin-bottom: 40px;
    color: #f5f5f5;
}

.filme-principal .titulo {
    margin-top: 12%;
    margin-bottom: 100px;
    font-size: 50px;
    font-family:'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    border-radius: 10px;
    padding: 15px 40px; /*lida com espaço interno do elemento (box)  - 1 valor pega os 4 lados, 2 valores pega inicialmente cima e baixo, e o segundo valor direita e esquerda*/
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
    
    cursor:pointer;
    transition: 0.5s ease all;
}

.botao2 {
    background-color: rgba(88, 88, 88, 0.5);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 15px 40px; /*lida com espaço interno do elemento (box)  - 1 valor pega os 4 lados, 2 valores pega inicialmente cima e baixo, e o segundo valor direita e esquerda*/
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;

    cursor:pointer;
    transition: 0.5s ease all;
}

.botao:hover{
    background-color: rgb(201, 199, 199);
    color: black;
}

.botao2:hover{
    background-color: rgba(73, 73, 73, 0.226);
    color: white;
}

.botao i{
    margin-right: 7px;
}

.botao2 i{
    margin-right: 7px;
}

.container {
    margin-left: 60px;
    
}


.filme-principal .container {
    width: 60%;
}

.names_owl {
    font-family: 'Netflix Sans', Times, serif; /* Fontes da Pagina */
    font-size: 1.4vw;
    line-height: 1.25vw;
    font-weight: 700;
    margin: 10px 0 10px 40px;
    align-items: center;
    color: #f5f5f5;
    
}

.box-filme{
    margin-left: 5px;
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{   
    margin-top: 5px;
}

.footer {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 12px;
    margin-top: 15%;
    align-items: center;
}